* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
  overflow: auto;
  margin: 30px auto;
  min-height: 300px;
  border: 2px solid chartreuse;
  padding: 30px;
  border-radius: 10px;
}

.task-container {
  background-color: #444;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-container {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-task-input {
  background-color: #444;
  color: #eee;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 7px;
}

.button {
  background-color: chartreuse;
  color: #444;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
