* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
  overflow: auto;
  margin: 30px auto;
  min-height: 300px;
  border: 2px solid chartreuse;
  padding: 30px;
  border-radius: 10px;
}

.task-container {
  background-color: #444;
  color: #eee;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
