* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
  overflow: auto;
  margin: 30px auto;
  min-height: 300px;
  border: 2px solid chartreuse;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  color: #eee;
}

.div-task-container {
  position: relative;
}

.task-container {
  background-color: #444;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

form {
  width: 100%;
  display: flex;
}

.add-task-input {
  background-color: #444;
  color: #eee;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  margin-right: 7px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.button {
  background-color: chartreuse;
  color: #444;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #444;
  color: chartreuse;
}

.remove-task-button,
.details-task-button {
  background-color: #444;
  color: chartreuse;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 15px;
}

.details-task-button {
  right: 45px;
}

.task-details-container {
  background-color: #444;
  color: #eee;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 5px;
}

.task-details-container h2 {
  color: chartreuse;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.back-button {
  width: 30%;
  margin-top: 10px;
}
